.food {
  height: 500px;
}

.blocks {
  margin-top: 70px;
  width: 1300px;
  display: flex;
  justify-content: space-around;
}

.title {
    color: #a47676;
}

.ingredients, .prepare {
  width: 500px;
}