.block_iframe {
    margin-top: 50px;
    text-align: center;
  }
  
  iframe {
    margin-left: 50px;
  }

  .categories {
    font-size: 30px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
  }