.all {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #a26d4e;
  border-radius: 5px;
  background-color: #a26d4e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 18px;
  margin-top: 10px;
}

.title {
  //  / margin-bottom: 10px;
}

.input_wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: white;
}

input::placeholder {
  padding-left: 15px;
}

input:focus {
  padding-left: 15px;
  border: white;
}

input:focus::placeholder {
  padding-left: 0;
}

.save_button {
  padding: 10px;
  // background-color: #f5f5dd;
  border: none;
}